<nav class="navbar navbar-light bg-gray" style="background-color:#CDB7B5">
    <a class="navbar-brand" href="/">
        <img src="/img/questionanswers.png" alt="" width="320" height="110">
    </a>
</nav>